*{box-sizing: border-box;}
body{
	background-color: #F6F8FA;
	color: #333;
	font-family: helvetica;
	font-size: 18px;
}
header{
	height: 150px;
	background-color: #24292E;
	color: #fff;
}
nav{
	background-color: #ccc;
	height: 60px;
	text-align: center;
}
	nav a{
		background-color: #c2c2c2;
		padding: 20px;
		display: inline-block;
		color: #111;
		text-decoration: none;
	}
	nav a:hover{
		background-color: #adadad;
	}

main{
	min-height: 500px;
}
footer{
	height: 150px;
	background-color: #24292E;
	color: #fff;
}

